<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraReactionEffectGesturesEnabledDefault</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>For users to take photos within the app</string>
	<key>UIAppFonts</key>
	<array>
		<string>TalkFile_HSSanTokki.ttf</string>
	</array>
</dict>
</plist>
